html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* background: hsl(200, 20%, 95%); */
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* navbar */

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 2px dotted red;
  height: 60px;
}

.navbar-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 1em;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.navbar-right button {
  margin-left: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

.container {
  /* border: 2px, solid, blue; */
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

/* Login */

.login-container {
  border: 2px, solid, red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  flex-grow: 1;
  width: 50%;
  margin: 0 auto;
}

img {
  border: 2px dotted blue;
  /* display: block; */
  width: 300px;
  margin: 20px auto;
  border-radius: 10px;
}

.form-container{
  border: 2px dotted blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Chatroom */

.chatroom-container
{
  border: 2px dotted green;
display: flex;
flex-direction: column;
width: 80%;
margin: 50px auto;
height:70vh;
}
.sidebar {
 
}

.chat-content {
  
}

.chat-footer{

}

.message-footer{

}

