*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

html.light {
  --bg-color: white;
  --text-color: #121212;
}

html.dark {
  --bg-color: #121212;
  --text-color: white;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  transition: all 0.3s ease;
}

/* navbar */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 60px;
  border-bottom: 2px solid #121212;
}

.navbar-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 1em;
}

.navbar-left h1 {
  margin: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.light-dark-button {
  margin-left: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

.light-dark-button:hover {
  color: #DAC4A3;
}

.logout-button {
  margin-left: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

.logout-button:hover {
  color: #ff6666;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

/* Login */

.login-wrapper {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.login-left{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container
{
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

img {
  border-radius: 10px;
}

.login-right {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  width: 350px;
  border-radius:0.3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px 20px;
}

.login-text {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#username {
  line-height: 1;
  padding: 0.25em 0 0.25em 0.1em;
  font-size: 1rem;
  border-radius: 5px;
  background-color: lightgray;
}

#password {
  line-height: 1;
  padding: 0.25em 0 0.25em 0.1em;
  font-size: 1rem;
  border-radius: 5px;
  background-color: lightgray;
}

html.light .login-errors {
  color: #ff6666;
  background-color: #ffe5e5;
  border: 1px solid #ff6666;
  border-radius: 5px;
  padding: 7px;
}

html.dark .login-errors {
 color: #fbd96d;
 background-color:#332701 ;
 border:1px solid #fbd96d;
 border-radius: 5px;
 padding: 7px;
}

.login-form > button {
  color: white;
  background-color:#183f5d;
  border: none;
  cursor: pointer;
  border-radius: 5px;
   padding: 0.3em 0.9em;
  font-size:1rem;
}

.login-form > button:hover {
  color: white;
  background-color:#123048;
}

.toggle-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 25px 0;
}

.toggle-login-button {
  border:none;
  border-radius: 3px;
  text-align: center;
  cursor:pointer;
  color: black;
  background-color: #9ee86f;
  padding: 0.2em 0.6em;
  font-size:0.8rem;
}

.toggle-login-button:hover {
  color: black;
  background-color: #85de4d;
}

/* Chatroom */

.chatroom-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  margin: 75px auto;
  height: 100%;
  max-height: 70vh;
  min-height: 0;
}


aside {
  border: 2px solid black;
  border-radius: 3px;
  height: 100%;
  overflow-y: auto;
  min-height: 0;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3px;
}

.sidebar .user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.users-title {
  margin: 0;
  padding: 0;
  color: #56a4ed;
}

.username-active {
  text-align: center;
  padding: 0.25rem 0;
  display: flex;
  flex-direction: row;
}

.sidebar h3 {
  margin: 0;
}

.chat-panel{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 5;
  min-height: 0;
}

.chat-content {
  border: 2px solid black;
  border-radius: 3px;
  position: relative;

  flex: 6;
  overflow-y: auto;
  min-height: 0;
}

.message-list {
  padding: 0;
  margin: 0;
}

.message{
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  margin-bottom: 1px;
}

.message.current
{
 flex-direction: row-reverse;
}

 .identicon-container,
.delete-container
{
  display: flex;
  flex: 0 0 70px;
  min-width: 70px;
  align-items: center;
  padding: 5px 0 5px 0;
  justify-content: center;
}

.message .delete-container {
  border: none;
}

html.light .delete-button{
  flex: 0 0 auto;
  cursor: pointer;
  background-color: var(--bg-color);
  border: none;

}

html.dark .delete-button{
  flex: 0 0 auto;
  cursor: pointer;
  background-color: var(--bg-color);
  border: none;
  color: white;
}

html.light .delete-button:hover{
  color:rgb(239, 57, 57);
}

html.dark .delete-button:hover{
  color:rgb(239, 57, 57);
}

.identicon
{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0;
}

.message-detail-wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  margin: 0;
  padding-left: 5px;
}

.username{
  border: 2px solid black;
  flex-grow: 1;
  margin: 0;
  padding: 5px;
  color: #56a4ed;
}

.username.right{
  display: flex;
  justify-content: flex-end;
  color: #123048;
}

.message-text {
  margin: 0;
  padding: 5px;
  flex-grow: 2;
}

.text-content{
  border: 2px solid black;

  flex: 1;
  min-width: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.timestamp {
  border: 2px solid black;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  flex-grow: 1;
  padding: 2px;
  border-radius: 2px;
  padding-right: 10px;
  color:slategray;
}

.timestamp.left {
  display: flex;
  justify-content: flex-start;
  padding: 2px;
  border-radius: 2px;
  padding-left: 10px;
  color:slategray;
}

.message-form {
  border: 2px solid black;
  border-radius: 3px;
  flex: 2;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
}

.message-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

textarea {
  width: 100%;
  max-width: 30rem;
  min-height: 3.5rem;
  height: auto;
  border: 2px solid black;
  border-radius: 2px;
  background-color: lightgray;
} 

.send-message-button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1.3rem;
  color: black;
  background-color: #9ee86f;
  padding: 0.1em 0.3em;
}

.send-message-button:hover {
  background-color: #85de4d;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar-container {
    width: 60%;
  height: 7px;
  box-shadow: inset 1px 1px 2px #ccc;
  border: 1px solid #bbb;
  border-radius: 15px;
  margin: 5px 0 3px 0;
}

.progress-bar {
  height: 100%;
}

.remaining-chars {
  font-size: 11px;
  margin: 3px 0 3px 0;

  text-align: right;
}

@media (max-width: 768px) {
  .chatroom-wrapper {
    flex-direction: column;
    max-height: 80vh;
    margin: 60px auto 20px;
  }

  .sidebar {
    flex: 1;
    max-height: 25vh;
    margin-bottom: 3px;

    border-right: none;
  }

  .navbar-container {
    padding: 0.5rem;
    height: auto;
  }

  .navbar-title {
    font-size: 1.2em;
    margin-left: 0.5em;
  }

  .navbar-right {
    margin-right: 0.5em;
  }

  .navbar-right button {
    padding: 0.4em 0.8em;
    font-size: 0.9em;
  }
  .login-wrapper{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .chatroom-wrapper {
    margin: 50px 10px 10px;
    max-width: none;
  }

  .sidebar .user-list li {
    font-size: 0.9em;
    padding: 0.2rem 0;
  }

  .message {
    font-size: 0.9em;
  }

  .chat-footer form {
    font-size: 0.9em;
  }

   textarea {
    min-height: 2.5rem;
    font-size: 0.9rem;
  }
}