html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* background: hsl(200, 20%, 95%); */
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
}

/* navbar */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 2px dotted blue;
  height: 60px;
}

.navbar-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 1em;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.navbar-right button {
  margin-left: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

.container {
  /* border: 2px, solid, blue; */
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

/* Login */

.login-wrapper {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

img {
  border: 2px dotted blue;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  border-radius: 10px;
}

.form-container {
  border: 2px dotted blue;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.login-text {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px 20px;
}

.login-form button{
  border-radius: 5px;
  cursor: pointer;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;

}

.toggle-login {
  margin: 0;
  text-align: center;
}

/* Chatroom */

.chatroom-wrapper {
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  margin: 75px auto;
  height: 100%;
  max-height: 70vh;
  min-height: 0;
}

.sidebar {
  border: 2px solid blue;
  height: 100%;
  overflow-y: auto;
  min-height: 0;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;          
}

.sidebar .user-list {
  display: flex;
  flex-direction: column;
  align-items: center;  
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .user-list li {
  text-align: center;
  padding: 0.25rem 0;
}

.chat-panel{
  border: 2px solid red;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 5;
  min-height: 0;
}

.chat-content {
  border: 2px solid pink;
  flex: 5;
  overflow-y: auto;
  min-height: 0;
}

.message-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message{
  border: 2px dotted blue ;
  display: flex;
  flex-direction: row;

}

.username{
  border: 2px dotted red;
}

.content{
  border: 2px dotted green;

}

.chat-footer {
  border: 2px solid orange;
  flex: 1;
}

.message-footer {}