.Home--container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Home--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.Home--logo {
  width: 20%;
  height: 15%;
  object-fit: contain;
}

.Home--title {
  margin-top: 10px;
}

label {
  margin-bottom: 10px;
}

.guest--button,
.createaccount-button,
.login--button {
  margin-bottom: 40px;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
}

.guest--button:hover,
.createaccount-button:hover,
.login--button:hover {
  background-color: #0056b3;
}

.login--form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}

.login-form input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  justify-content: center;
}

.guest--button,
.login-form button {
  margin-bottom: 40px;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

.password--input {
  margin-bottom: 20px;
}
